div{
    background-color: rgb(180, 180, 201);
}

p:first-child{
    background-color: red;
}

/* p:only-child{
    background-color: green;
} */

/* p:last-child{
    background-color: yellow;
} */

/* li:nth-child(2){
    background-color: yellow;
} */

:nth-child(3){
    background-color: magenta;
}

input:focus{
    background-color: green;
}

input:required{
    background-color: aqua;
}